<footer class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="h1 fw-bolder">أكتشف</h3>
        <div>
          <i class="fa-brands  me-2 fa-facebook fa-2x"></i>
          <i class="fa-brands me-2 fa-instagram fa-2x" ></i>
          <i class="fa-brands me-2 fa-twitter fa-2x"></i>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="h1 fw-bolder">الصفحات</h3>
        <ul class="py-3">
          <li class="py-2">الرئيسة</li>
          <li class="py-2">من نحن</li>
          <li class="py-2">المزارات السياحية</li>
          <li class="py-2">تواصل معنا</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="h1 fw-bolder">اشهر المدن</h3>
        <ul class="py-3">
          <li class="py-2">القاهره</li>
          <li class="py-2">الاسكندريه</li>
          <li class="py-2">اسوان</li>
          <li class="py-2">شرم الشيخ</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
