<section class="hero" style="background-image: url(assets/images/hero2.webp);" >
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <h1 class="text-color fw-bolder">اعرف المزيد عن اكتشف</h1>
  </div>

</section>

<section class="py-5">
  <div class="container text-center text-white">
    <h3 class="text-danger mb-5">من نحن</h3>
    <h4>مرحبًا بك في موقعنا السياحي، الذي يعتبر دليلك الشامل لاستكشاف أروع الأماكن السياحية في مصر! نحن فريق مكرس لتقديم تجربة
    سياحية فريدة وممتعة للزوار الذين يرغبون في اكتشاف جمال وتنوع المعالم السياحية في بلاد الفراعنة.
    </h4>
  </div>
</section>
<section class="py-5">
  <div class="container text-center text-white">
    <h3 class="text-danger mb-5">رسالتنا</h3>
    <h4>نهدف إلى توفير معلومات دقيقة وشاملة حول الأماكن السياحية في أشهر المحافظات المصرية. نسعى لتحفيز السياحة المستدامة وتعزيز
    التفاعل الثقافي بين الزوار والمجتمعات المحلية.
    </h4>
  </div>
</section>
<section class="py-5">
  <div class="container  text-white">
    <h3 class="text-danger mb-5">ماذا نقدم:</h3>
    <ol>
      <li class="fs-4">
        <h5>دليل موثوق:</h5>
        <p>نقدم دليلاً موثوقًا وشاملاً للأماكن السياحية في مصر، مع تحديثات دورية للمعلومات لضمان دقة المحتوى.</p>
      </li>
      <li class="fs-4">
        <h5>تجارب فريدة:</h5>
        <p>نقدم نصائح وتوجيهات للمسافرين للتمتع بتجارب سياحية فريدة، سواء كنت مسافرًا فرديًا أو مجموعة.</p>
      </li>
      <li class="fs-4">
        <h5>دليل موثوق:</h5>
        <p>نقدم دليلاً موثوقًا وشاملاً للأماكن السياحية في مصر، مع تحديثات دورية للمعلومات لضمان دقة المحتوى.</p>
      </li>
    </ol>
  </div>
</section>

