section{
  color: #FDE5D4;
}
.hero{
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .container{
    h1{
      position: relative;
      z-index: 3;
      font-size: 5rem;
    }
  }
}
