<section class="hero" style="background-image: url(assets/images/hero1.webp);">
  <div class="container d-flex justify-content-center h-100 align-items-center ">
    <h1 class="text-color">اكتشف اشهر المزارات السياحية</h1>
  </div>
</section>

<section class="py-5 text-color">
  <div class="container">
    <div class="head py-5">
      <h2 class="text-color text-center">العالم في انتظارك لاستكشافه!</h2>
    </div>
    <p class="lead">
      يُمكن أن تعني العطلة أموراً كثيرة! قد تكون مهرباً من الروتين اليومي، أو فرصةً لتعلّم ثقافة جديدة، أو الرغبة في تذوق أفضل
      المأكولات، أو فرصة لاستكشاف العالم، أو إيقاظ روح المغامرة بداخلك! في حين أن الأسباب قد تكون كثيرة، إلا أنها تخلق ذكريات
      لا تقدر بثمن تدوم مدى الحياة.
    </p>
    <p class="lead">
      وبالتأكيد مع التخطيط الجيد تُصبح العطلة أكثر أريحيةً وتميزاً. لهذا فإن خاصية "اكتشف" هي بمثابة دليلك المثالي للسفر! احصل
      على إجابات لأسئلة مثل الوجهات التي يجب زيارتها، الأشياء التي يجب القيام بها، المأكولات، أماكن التسوق، وغيرها الكثير.
    </p>
    <p class="lead">
      استكشف دليل السفر المثالي لأكثر من ١,٠٠٠ وجهة مباشرة من المدن الأكثر شهرة التي يجب عليك زيارتها إلى زوايا العالم الغير
      مكتشفة بعد. إذا كان لديك غرض محدد للسفر، فما عليك سوى استخدام عوامل التصفية الخاصة بنا والعثور على أماكن ذو سمات وقالب
      خاص مثل: الأماكن الترفيهية، التعليمية، التاريخية، الثقافية، الدينية، فنون العمارة، والحياة البرية. إذا كنت ترغب في أن
      تكون رحلتك مليئة بالأنشطة، فابحث عن عدد كبير من الرياضات البرية والرياضات الجوية والرياضات المائية والسفاري. وإذا كنت
      بحاجة إلى إجازة للاسترخاء، فابحث عن أفضل المنتجعات الصحية ومراكز اليوجا كلها في مكان واحد! باختصار ، نحن متجر شامل لأدلة
      السفر الخاصة بالتخطيط للعطلات.
    </p>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="head py-3">
      <h2 class="text-center">اشهر الاماكن الساحية في مصر</h2>
    </div>
    <div class="row py-5">
      <div class="col-md-4">
        <div class="img">
          <img src="assets/images/ash1.jpg" alt="">
        </div>
        <div class="content py-3">
          <h3>معبد الكرنك</h3>
          <p>اشهر المعابد في مصر</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img">
          <img src="assets/images/ash2.jpg" alt="">
        </div>
        <div class="content py-3">
          <h3>الاهرامات</h3>
          <p>اهرامات الجيزه</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img">
          <img src="assets/images/ash3.jpg" alt="">
        </div>
        <div class="content py-3">
          <h3>شرم الشيخ</h3>
          <p> الشعب المرجانية في البحر الاحمر </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="head">
      <h2 class="text-center">الاسئلة الشائعة</h2>
    </div>
    <div class="accordion py-4" id="accordionExample">
      <div class="accordion-item text-bg-dark">
        <h2 class="accordion-header bg-transparent">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            هل القاهرة آمنة للسياح؟
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>
              عند التجول في القاهرة، عليك توخي الحذر، واتباع إرشادات السلامة، والبقاء يقظًا لتجنب السرقة والمشكلات الأمنية الأخرى، على
              الرغم من أنها مدينة آمنة بشكل عام. انتبه دائمًا للنصائح المحلية من أجل زيارة آمنة وممتعة.
            </strong>
          </div>
        </div>
      </div>
      <div class="accordion-item text-bg-dark">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            ما هو أفضل وقت لزيارة القاهرة؟
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>أفضل وقت لزيارة القاهرة هو خلال أواخر الخريف (أكتوبر إلى نوفمبر) وأوائل الربيع (مارس إلى أبريل) عندما يكون الطقس أكثر
            اعتدالا لممارسة الأنشطة الخارجية.</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item text-bg-dark">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            ما هي العادات والآداب المحلية التي يجب على السائح معرفتها؟
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>المصريون معروفون عمومًا بأنهم شعب ودود ومضياف. من الأدب انتظار المضيف أو الشخص الأكبر سنًا لبدء الوجبة. ومن المعتاد أن
            تأكل باستخدام يدك اليمنى.</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
